#update_all{
	 padding:5px; margin:40px auto; text-align:center; width:880px;
}
#update_all>#update_data{
	background:#e7e7e7;
	margin:5px; width:100%;float:left;
}
#update_all>#update_data>a{
	display:block; font-size:25px; text-align:center; 
	padding:40px 20px; font-weight:bold;
}
#update_all>#update_data>a:hover{
	box-shadow:0px 0px 2px red; font-size:25px;
	background:#024; color:#2ECCFA;
}